.tablero{
	position: absolute;
	background-image: url(tablero.png);
    background-size: cover;
    height: 150px;
    width: 150px;
    z-index:-1;
}
.texto_turno{
	position: absolute;
	left: 300px;
	top: 20px;
}
.j1{
	position: absolute;
	top:20px;
	left: 390px;
	height: 50px;
	width: 	50px;
	background-image: url(j1.png);
    background-size: cover;
}
.j2{
	position: absolute;
	top:20px;
	left: 390px;
	height: 50px;
	width: 	50px;
	background-image: url(j2.png);
    background-size: cover;
}
.tiro{
	position: absolute;
	top: 220px;
}
.tablero2{
	position: absolute;
	top: 240px;
}
.boton{
	position: absolute;
	top: 220px;
	left: 200px;
}
.ingrese{
	position: absolute;
	top: 200px;
}
.D1{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 0px;
	background-color: white;
}
.D2{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 51px;
	background-color: white;
}
.D3{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 102px;
	background-color:white;
}
.D4{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 0px;
	top: 51px;
	background-color: white;
}
.D5{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 51px;
	top: 51px;
	background-color: white;
}
.D6{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 102px;
	top: 51px;
	background-color: white;
}
.D7{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 0px;
	top: 102px;
	background-color: white;
}
.D8{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 51px;
	top: 102px;
	background-color: white;
}
.D9{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 102px;
	top: 102px;
	background-color: white;
}
.D1x{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-image: url(x.png);
    background-size: cover;}
.D2x{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 51px;
	top: 0px;
	background-image: url(x.png);
    background-size: cover;
}
.D3x{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 102px;
	top: 0px;
	background-image: url(x.png);
    background-size: cover;
}
.D4x{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 0px;
	top: 51px;
	background-image: url(x.png);
    background-size: cover;
}
.D5x{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 51px;
	top: 51px;
	background-image: url(x.png);
    background-size: cover;
}
.D6x{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 102px;
	top: 51px;
	background-image: url(x.png);
    background-size: cover;
}
.D7x{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 0px;
	top: 102px;
	background-image: url(x.png);
    background-size: cover;
}
.D8x{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 51px;
	top: 102px;
	background-image: url(x.png);
    background-size: cover;
}
.D9x{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 110px;
	top: 110px;
	background-image: url(x.png);
    background-size: cover;
}
.D1o{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-image: url(o.png);
    background-size: cover;
}
.D2o{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 51px;
	top: 0px;
	background-image: url(o.png);
    background-size: cover;
}
.D3o{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 102px;
	top: 0px;
	background-image: url(o.png);
    background-size: cover;
}
.D4o{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 0px;
	top: 51px;
	background-image: url(o.png);
    background-size: cover;
}
.D5o{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 51px;
	top: 51px;
	background-image: url(o.png);
    background-size: cover;
}
.D6o{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 102px;
	top: 51px;
	background-image: url(o.png);
    background-size: cover;
}
.D7o{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 0px;
	top: 102px;
	background-image: url(o.png);
    background-size: cover;
}
.D8o{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 51px;
	top: 102px;
	background-image: url(o.png);
    background-size: cover;
}
.D9o{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 110px;
	top: 110px;
	background-image: url(o.png);
    background-size: cover;
}